body {
    background-color: #33e6ec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    color: #1114d1;
}

.digit {
    font-size: 10rem;
    font-weight: bold;
}

.txt {
    font-size: 40px;
    font-weight: bold;
}

#btn-container {
    text-align: center;
    margin-top: 20px;
}

.btn {
    padding: 8px 28px;
    font-size: 25px;
    margin: 0px 10px;
    border: 0px;
    cursor: pointer;
    width: 120px;
    height: 60px;
    border-radius: 20px;
    color: white;
}

#start {
    background-color: #e638ba;
}

#stop {
    background-color: #DD2C00;
}

#reset {
    background-color: #2f8af3;
}
@media only screen and (max-width: 602px){
    
    .digit {
        font-size: 5rem;
        
}
@media only screen and (max-width: 440px){
    
    .digit {
        font-size: 3rem;
        
}